<h2>Register</h2>
<form class="form-inline">
    <div class="form-group">
        <label for="textbox-user">Name</label>
        <input type="text" class="form-control" id="textbox-user" placeholder="username">
    </div>
    <div class="form-group">
        <label for="textbox-pass">Password</label>
        <input type="password" class="form-control" id="textbox-pass" placeholder="password">
    </div>
    <button id="button-register" type="submit" class="btn btn-danger">Register</button>
</form>
