<fieldset>
    <legend>Add Thread</legend>
    <div class="row">
        <label class="col-md-3">
            <input class="form-control" placeholder="Title" type="text" id="textbox-thread-title">
        </label>
        <div class="col-md-3">
            <button  id="button-add-thread" class="btn btn-success">Add thread</button>
        </div>
    </div>
</fieldset>
