<fieldset>
    <legend>Add new Event</legend>
    <div class="form-group">
        <label for="event-textbox">
            Title:
        </label>
        <input type="text" class="form-control" id="event-textbox" placeholder="Event"/>
    </div>
    <div class="form-group">
        <label class="event-category">
            Category:
        </label>
        <input type="text" id="event-category" class="form-control" placeholder="Category"/>
    </div>
    <div class="form-group">
        <label class="event-description">
            Description:
        </label>
        <input type="text" id="event-description" class="form-control" placeholder="Description"/>
    </div>
    <div class="form-group">
        <label class="event-date">
            Date:
        </label>
        <input type="text" id="event-date" class="form-control" placeholder="Date"/>
    </div>
    <div class="form-group">
        <label class="event-time">
            Time:
        </label>
        <input type="text" id="event-time" class="form-control" placeholder="Time"/>
    </div>
    <button class="btn btn-primary" id="add-event-button">Add</button>
</fieldset>