<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="username-input">Username</label>
        <div class="controls">
            <input type="text" id="username-input" placeholder="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password-input">Password</label>
        <div class="controls">
            <input type="password" id="password-input" placeholder="Password">
        </div>
    </div>
    <br/>
    <div class="control-group">
        <div class="controls">
            <button  id="login-button" class="btn btn-warning">Sign in</button>
        </div>
    </div>
</form>