<fieldset>
    <legend>Add new Todo</legend>
    <div class="form-group">
        <label for="todo-textbox">
            Text:
        </label>
        <input type="text" class="form-control" id="todo-textbox" placeholder="Todo"/>
    </div>
    <div class="form-group">
        <label class="todo-category">
            Category:
        </label>
        <input type="text" id="todo-category" class="form-control" placeholder="Category"/>
    </div>
    <button class="btn btn-primary" id="add-todo-button">Add</button>
</fieldset>